<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/Home.css">

<body>
    <header class="header">
        <!-- Left box for logo -->
        <div class="left">
            <img src="gymlogo.jpg" alt="ERROR" width="100px" height="70px" id="gymlog">
            <div>Vidit Fitness</div>
        </div>
        <!-- Mid box for navbar -->
        <div class="mid">
            <ul class="navbar">
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/Aboutus">About Us</a></li> 
                <li><a href="/fitnesscalculator">Fitness Calculator</a></li>
                <li><a href="/Contactus">Contact Us</a></li>
            </ul>
        </div>

        <!-- Right box for buttons -->
        <div class="right">
            <button class="btn">Call Us Now</button>
            <button class="btn">Email Us</button>
        </div>
    </header>
    <div class="container">
        <h1>Join the best gym of Delhi now</h1>
        <form action="/form-submited" method="POST">
            <div class="form-group">
                <input type="text" name="Name" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="number" name="Age" placeholder="Age">
            </div>
            <div class="form-group">
                <input type="text" name="Gender" placeholder="Gender">
            </div>
            <div class="form-group">
                <input type="text" name="Locality" placeholder="Locality">
            </div>
            <div class="form-group">
                <input type="email" name="Email" placeholder="Email Id">
            </div>
            <div class="form-group">
                <input type="number" name="Phoneno" placeholder="Phone Number">
            </div>
            <button class="btn">Submit</button>
        </form>
    </div>
    <footer>&copy; All copyrights are reserved.</footer>
</body>

</html>
